<h1>Add a movie to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie" %>
  <%= f.input :comment, placeholder: "Enter a comment (min. 6 chars)" %>
  <%= f.submit "Add movie", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", list_path(@list) %>
